html {
	position: relative;
}

body {
	margin-bottom: 100px;
	background-color: lightblue;
}

img	{
	margin-top: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

footer p {
	color: white;
	line-height: 100px;
}

.jumbotron {
	background-color: #313939;
}
.jumbotron img {
	width: 150px;
	border: 2px solid white;
}

.jumbotron h1{
	color: #7EABAF;
}

.jumbotron p {
	color: #7EABAF;
}

.aboutme {
	background-color: lightblue;
	min-height: 350px;
}

.aboutme h2 hr {
	color: #313939;
}

.skill {
	background-color: whitesmoke;
	padding: 30px 0 30px 0;
}

.portofolio {
	background-color: lightblue;
	margin-top: 30px;
	min-height: 330px;
}

.portofolio img {
	margin-top: 10px;
}


.contact {
	background-color: whitesmoke;
	min-height: 220px;
	padding-top: 30px;
}

/*Overlay*/
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9999;
	transition: .7s;
	text-align: center;
	padding: 100px;

}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.close {
	margin-top: 23%;
}

.overlay .close {
	position: absolute;
	top: -50%;
	left: 100%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
}
/*biru muda #7EABAF */
/*biru tua #313939 */