html {
	position: relative;
}

body {
	margin-bottom: 100px;
	background-color: #015668;
}

.jumbotron {
	background-color: #263f44;
	min-height: 100px;
	padding-top: 110px;
	margin-bottom: 0;
}
.jumbotron img {
	width: 150px;
	border: 2px solid #fff1cf;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1, h5 {
	color: #fff1cf;
}

hr {
	width: 250px;
	border-top: 3px solid #263f44;
}

section {
	background-color: #ffd369;
}

.aboutme {
	min-height: 400px;
	padding-top: 25px;
}

.aboutme h2, p {
	color: #263f44;
}

.skill {
	min-height: 550px;
	padding-top: 25px;
	color: #263f44;
}

.portofolio {
	min-height: 400px;
	padding-top: 25px;
	color: #263f44;
}

.contact {
	min-height: 450px;
	color: #263f44;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
}

footer p {
	color: white;
	line-height: 80px;
}


/*Overlay*/
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
	z-index: 9999;
	transition: .7s;
	text-align: center;
	padding: 100px;

}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.close {
	margin-top: 23%;
}

.overlay .close {
	position: absolute;
	top: -50%;
	left: 100%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
}
